nav {
    width: 100%;
    background-color: grey;
    }

ul {
    margin: 0px;
    padding: 10px;
    }

li {
    display:  inline-block;
    text-align: center;
    }

a {
    color: white;
    padding: 0 10px;
    }

a:hover {
    background-color: darkgray;
    }